* {
    box-sizing: border-box;
    /* bình thường sẽ hơn, chiều rộng và chiều cao của phần tử sẽ bao gồm cả nội dung, padding, và border. */
}

:root {
    /* dat bien */
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc (100% - 48px);
    margin-left: auto; /* tự động căn giữa trái phải */
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

/* ======================== Header ============*/

.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh; /* lấp đầy màn hình Viewport Height (vh) - Đơn vị này dựa trên chiều cao của khung nhìn. Giá trị 1vh bằng 1% chiều cao của khung nhìn*/
}

.navbar {
    display: flex; /* Horizontal */
    align-items: center; /* can theo truc phu, truc phu la truc doc chinh giua */
    padding-top: 38px; /* xai margin top se bi du */
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto; /* can le trai */
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px; /* Increase button area */
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    line-height: 1.5;
    color: #687690;
}

.hero .title {
    font-size: 6.2rem;
    font-weight: 650;
    line-height: 1.19;
    margin-top: 8px;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute; /* tach biet bi anh huong boi chu */
    right: calc((100vw - 1110px) / 2 - 100px); /* phan ria */

    bottom: 0;
}

/* ============== CLIENTS ============*/
.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between; /* de cho phan tu con xa nhau nhat co the */
}

.clients .desc {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 500;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .logobrand {
    margin-top: 70px;
}

/* ============== GUIDES ============*/
.guides {
    margin-top: 200px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    font-family: Poppins;
    text-align: center;
    color: #000339;

}

.guides .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 0.25rem;
    border-radius: 12px;

    top: -10px;
    left: 50%;  /* lech 50% voi the cha */
    transform: translateX(-50%); /* lech 50% voi chinh no */
    display: inline-block;
    background-color: #000339;
    
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guides{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title{
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem ;
    line-height: 1.1;
    color: #3B3C45;
}

.guide-item .link{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;

}

/* ============== FEATURES ============*/

.features {
    margin-top: 230px;
}

.featured .sub-title{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
}

.featured .row {
    display: flex;
    justify-content: space-between;
}